<div class="bootstrap-wrapper">
<div class="row mt15">
    <div class="col-md-12">
        <h1>Adding Question to Quiz</h1>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    Enter the detail of new question
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form>
                    <mat-form-field class="w100">
                        <mat-label>Write Question Content</mat-label>
                        <textarea rows="5" matInput placeholder="Enter Here"></textarea>
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
</div>
