<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/logo.png" />
                </div>
                <h1 class="text-center">Register Here</h1>

                <form>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="text" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Phone</mat-label>
                        <input type="number" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left: 10px;" type="reset" mat-raised-button color="accent">Reset</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>